@import "tailwindcss";

@font-face {
    font-family: 'TTCommonsPro-Db';
    src: url('~/assets/font/TTCommonsPro-Db.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'TTCommonsPro-Lt';
	src: url('~/assets/font/TTCommonsPro-Lt.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TTCommonsPro-Md';
	src: url('~/assets/font/TTCommonsPro-Md.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'TTCommonsPro-Rg';
	src: url('~/assets/font/TTCommonsPro-Rg.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'TTCommonsPro-Rg';
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    font-size: 20px;
    scroll-behavior: smooth;
    color: #555b6d;
}

h1, h2, h3 {
    font-family: 'TTCommonsPro-Lt';
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}

p {
    font-family: 'TTCommonsPro-Lt';
    line-height: 1.25;
}

.bold {
    font-family: 'TTCommonsPro-Db';
}

/* h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
} */


.text-accent {
    font-family: 'TTCommonsPro-Db';
    font-weight: 400;
    font-style: normal;
}

@layer base {
  p, li {
    @apply text-base leading-relaxed; /* размер по умолчанию (desktop) */
  }

  

  @media (max-width: 640px) {
    p, li {
      @apply text-sm leading-normal; /* уменьшение на мобильных */
    }
  }
}