@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TTCommonsPro-Db';
    src: url('~/assets/font/TTCommonsPro-Db.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'TTCommonsPro-Lt';
	src: url('~/assets/font/TTCommonsPro-Lt.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TTCommonsPro-Md';
	src: url('~/assets/font/TTCommonsPro-Md.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TTCommonsPro-Rg';
	src: url('~/assets/font/TTCommonsPro-Rg.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ABCHelveesti-Bold';
	src: url('~/assets/font/ABCHelveesti-Bold.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ABCHelveesti-Regular';
	src: url('~/assets/font/ABCHelveesti-Regular.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'TTCommonsPro-Rg';
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    font-size: 20px;
    scroll-behavior: smooth;
    color: #434848;
}

h1, h2, h3 {
    /* font-family: 'ABCHelveesti-Regular'; */
    font-family: 'TTCommonsPro-Rg';
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}

p, li {
    font-family: 'TTCommonsPro-Rg';
    line-height: 1.35;
    font-size: .85rem;
    font-weight: 400;
}

.bold {
    font-family: 'TTCommonsPro-Db';
}

/* rtl/ltr */

[dir="rtl"] {
  direction: rtl;
  unicode-bidi: isolate;
}

.ltr {
  direction: ltr;
  unicode-bidi: isolate;
}


.text-title {
    font-family: 'ABCHelveesti-Regular';
    font-weight: 400;
    font-style: normal;
}

@layer base {
  p, li {
    @apply text-base leading-relaxed; /* размер по умолчанию (desktop) */
  }

  .vti__dropdown-list.below {
    top: 54px!important;
    width: 600px;    
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.156);
  }


  /* @media (max-height: 25rem) {
    #hero-top .logo img{
        height: 100px;
    }
  } */
  @media (max-width: 640px) {
    p, li {
      @apply text-sm leading-normal; /* уменьшение на мобильных */
    }

    .vti__dropdown-list.below {
      top: 54px!important;
      width: calc(100vw - 40px);    
      border: 1px solid #e4e4e4;
      box-shadow: 0 0 10px rgba(153, 153, 153, 0.156);
    }
  }
}



